
@import "css-wipe";

html, body {
	background: white;
	font-family: "Ubuntu";
	width: 100%;
	height: 100%;
}

#content {
	width: 100%;
	height: 100%;
}

.slerk {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

.sidebar {
	width: 250px;
	background: #3C413F;
	color: #A9ACAB;
}

.chat {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.conversation {
	flex: 1 1 auto;
	position: relative;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.message {

}

.message-user-image, .message-meta {
	display: none;
}

.message-first {
	clear: left;
	margin-top: 1em;

	.message-user-image {
		float: left;
		border-radius: 50%;
		display: block;
		max-width: 40px;
	}

	.message-meta {
		display: block;
		margin-left: 46px;
	}

	.message-user-name {

		font-weight: 800;

	}
}

.message-timestamp {
	color: #ccc;
}

.message-content {
	margin-top: 0.3em;
	margin-left: 46px;
}

.chat-input {
	margin: 1em;
	display: flex;
	flex-direction: row;


	> * {
		border: none;
		border-top: solid 1px #c0c0c0;
		border-bottom: solid 1px #c0c0c0;
		font-size: 14px;
		display: block;


		&:first-child {
			border-left: solid 1px #c0c0c0;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}

		&:last-child {
			border-right: solid 1px #c0c0c0;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}
}

.sidebar-header {
	&:hover {
		background: #333;
	}
	padding: 1.2em;
	h1 {
		color: #fff;
		font-size: 20px;
	}
}

.account-status + .account-name {
	margin-left: 0.4em;
}

.account-status {
	border-radius: 100%;
	width: 0.6em;
	height: 0.6em;
	display: inline-block;
}

.account-status-online {
	background: #688E3D;
}

.sidebar-header-account {
	margin: 0.4em 0;
	> * {
		vertical-align: middle;
	}
}

.date-break {
	font-weight: 800;
	background: #fff;
	text-align: center;
	padding: 0.3em;
  overflow: hidden;
	&::before, &::after {
    background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
	}
	&::before {
    right: 0.8em;
    margin-left: -50%;
	}
	&::after {
    left: 0.8em;
    margin-right: -50%;
	}

	&.active {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

.chat-input-upload {
	padding: 0 10px;
	appearance: none;
	background: #fff;
	border-right: solid 1px #c0c0c0;
}

.chat-input-emoji {
	background: #fff;
	padding: 0 10px;
}

.chat-input-text {
	appearance: none;
	flex: 1 1 auto;
	padding: 0.5em;
}

.chat-header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 1em;
}

.chat-header-channel-name {
	font-size: 20px;
}

.chat-header-topic {
	flex: 1 1 auto;
	margin: 0 1em;
}
